html {
    scroll-behavior: smooth;
  }

body {  
    background-color: #bbbab8;
    max-width: 100vw;
    max-height: 100vh;
}

body::-webkit-scrollbar {
    width: 1em;
    
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #64625d;
  outline: 1px solid #64625d;
  border-radius: 2rem;
}

header {
    height: 13vh;
}

@media screen and (min-width:920px ){

    .title{
        display: flex;
    }
    
    .search-items {
        display: flex;
        align-items: center;
    }
    .search-item{
        display: inline;
    }
    
    .-title {
        display: flex;
        justify-content: center;
        align-self: center;
        text-align: center;
        font-size: 200%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        flex-grow: 1;
        letter-spacing: 5px;
    }
    .side-title {
        display: flex;
        justify-content: center;
        align-self: center;
        font-size: 14px;
        font-weight: 100;
        flex-grow: 3;
        font-family: Arial, sans-serif;
        letter-spacing: 1px;
    }
    
    .search-items {
        flex-grow: 3;
        display: flex;
        justify-content: center;
    }
    .search-item {
        margin-left: 5%;
    }
    .search-item a {
        text-decoration: none;
        color: black;
        font-size: 18px;
    }
    .search-item a:hover {
        color: #AAA492;
    }
    #about{
        display: flex;
        align-items: center;
        font-family:  'Arial Narrow', Arial, sans-serif;
    }

    #div{
        margin-left:4%;
        margin-bottom: 19%;
    }

    .profile-name{
        display: flex;
        align-items: center;
        font-family:  'Arial Narrow', Arial, sans-serif;
        list-style-type: none;
        border-radius: 2rem;
        border-style:solid;
        border-color: #bbbab8;
        /* background-color: rgb(63, 62, 62); */
        box-shadow: rgba(0, 0, 0, 0.24) 20px 25px 10px;
        margin-left: 10%;
        
    }
    
    .name{
        width: 30vw;
        margin-left: 5%;
    }
    
    .profile{
        border-radius: 3rem ;
        width: 20vh;
        height: 20vh;
        margin-left: 10%;
        padding: 1%;
    }
    #top-projects-container {
        margin-left: 10%;
        margin-bottom: 9.5%;
      }
      
      #top-projects {
        list-style-type: none;
        border-radius: 2rem;
        border-style: solid;
        border-color: rgb(63, 62, 62);
        box-shadow: rgba(0, 0, 0, 0.24) 20px 25px 10px;
        background-color: rgb(63, 62, 62);
        font-size: 20px;
        height: 60vh;
        width: 30vw;
        padding: 10px;
        overflow: auto;
      }
      
      #top-projects li {
        margin-left: 2%;
        margin-top: 5%;
        border-radius: 2rem;
        border-style: solid;
        border-color: #64625d;
        background-color:rgb(104, 104, 104);
      }

      #top-projects li a{
        margin-left: 3%;
        color: #fff;
      }
      
      .project {
        background-color: #fff;
        padding: 10px;
        border-radius: 5px;
      }
      
      .project-name {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
      }
      
      .project-details {
        display: flex;
        align-items: center;
        font-size: 14px;
      }
      
      .star-icon {
        margin-left: 3%;
        margin-right: 5px;
        color: #FFD700;
      }
      
      .fork-icon {
        margin-right: 5px;
        color: #A9A9A9;
      }
      
      .languages {
        margin-top: 5px;
      }
      
      .language {
        display: inline-block;
        background-color: #64625d;
        color: #fff;
        padding: 2px 5px;
        border-radius: 3px;
        margin-right: 5px;
      }
    

    #about-p{
        border-radius: 2rem;
        border-style:solid;
        border-color: rgb(63, 62, 62);
        box-shadow: rgba(0, 0, 0, 0.24) 20px 25px 10px;
        width: 30vw;
        margin-left: 32%;
        font-size: 20px;
        background-color: rgb(63, 62, 62);
        margin-bottom: 5%;
    }

    #p{
        margin: 7%;
        font-family:  'Arial Narrow', Arial, sans-serif;
        line-height: 150%;
    }
    
    #p-div{
        border-radius: 2rem;
        border-style: solid;
        border-color: #64625d;
        background-color:rgb(104, 104, 104);
        margin: 2%;
    }
    
    .flex-container{
        width: 10vw;
    }
    
    #u{
        display: flex;
        align-items: center;
        margin-left: 30%;
        margin-top: 6%;
    }
    .h{
        font-size: 300%;
        transition: 0.5s;
        color: rgb(63, 62, 62);
    }
    
    .l{
        list-style-type: none;
        margin: 10%;
    }

    footer{
        margin-left: 41%;
        margin-bottom: 1%;
    }
    
}



@media (max-width:600px) {
    .title{
        display: flex;
    }
    
    .search-items {
        display: flex;
        align-items: center;
    }
    .search-item{
        display: inline;
    }
    
    .-title {
        display: flex;
        justify-content: center;
        align-self: center;
        text-align: center;
        font-size: 100%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        flex-grow: 1;
        letter-spacing: 5px;
    }
    .side-title {
        display: flex;
        justify-content: center;
        align-self: center;
        font-size: 14px;
        font-weight: 100;
        flex-grow: 3;
        font-family: Arial, sans-serif;
        letter-spacing: 1px;
    }
    
    .search-items {
        flex-grow: 3;
        display: flex;
        justify-content: center;
    }
    .search-item {
        margin-left: 5%;
    }
    .search-item a {
        text-decoration: none;
        color: black;
        font-size: 11px;
    }
    .search-item a:hover {
        color: #AAA492;
    }
    #about{
        align-items: center;
        font-family:  'Arial Narrow', Arial, sans-serif;
    }

    #div{
        margin-right: 8%;
        margin-bottom: 19%;
    }

    .profile-name{
        display: flex;
        align-items: center;
        font-family:  'Arial Narrow', Arial, sans-serif;
        list-style-type: none;
        border-radius: 2rem;
        border-style:solid;
        border-color: #bbbab8;
        box-shadow: rgba(0, 0, 0, 0.24) 20px 25px 10px;
        /*background-color: rgb(63, 62, 62);*/
        margin-left: 10%;
        margin-top: 3%
    }
    
    .name{
        width: 30vw;
        margin-left: 5%;
    }
    
    .profile{
        border-radius: 3rem ;
        width: 20vh;
        height: 20vh;
        margin-left: 10%;
    }

    #top-projects {
        list-style-type: none;
        border-radius: 2rem;
        border-style: solid;
        border-color: rgb(63, 62, 62);
        box-shadow: rgba(0, 0, 0, 0.24) 20px 25px 10px;
        background-color: rgb(63, 62, 62);
        font-size: 20px;
        height: 50vh;
        width: 55vw;
        padding: 10px;
        overflow: auto;
        margin-left: 20%;
        margin-bottom: 5%;
      }
      
      #top-projects li {
        border-radius: 2rem;
        margin-left: 2%;
        margin-top: 5%;
        border-style: solid;
        border-color: #64625d;
        background-color:rgb(104, 104, 104);
      }

      #top-projects li a{
        margin-left: 6%;
        color: #fff;
      }
      
      .project {
        background-color: #fff;
        padding: 10px;
        border-radius: 5px;
      }
      
      .project-name {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
      }
      
      .project-details {
        display: flex;
        align-items: center;
        font-size: 14px;
      }
      
      .star-icon {
        margin-left: 5%;
        margin-right: 5px;
        color: #FFD700;
      }
      
      .fork-icon {
        margin-right: 5px;
        color: #A9A9A9;
      }
      
      .languages {
        margin-top: 5px;
      }
      
      .language {
        display: inline-block;
        background-color: #64625d;
        color: #fff;
        padding: 2px 5px;
        border-radius: 3px;
        margin-right: 5px;
      }

    #about-p{
        border-radius: 2rem;
        border-style:solid;
        border-color: rgb(63, 62, 62);
        box-shadow: rgba(0, 0, 0, 0.24) 20px 25px 10px;
        width: 60vw;
        margin-left: 20%;
        font-size: 20px;
        background-color: rgb(63, 62, 62);
        margin-top: 15%;
        margin-bottom: 15%;
    }

    #p{
        margin: 7%;
        font-family:'Arial Narrow', Arial, sans-serif;
        line-height: 150%;
    }

    #p-div{
        border-radius: 2rem;
        border-style: solid;
        border-color: #64625d;
        background-color:rgb(104, 104, 104);
        margin: 2%;
    }
    
    
    .flex-container{
        width: 10vw;
    }
    
    #u{
        display: flex;
        align-items: center;
        margin-left: 20%;
        margin-top: 12%;
    }
    .h{
        font-size: 300%;
        transition: 0.5s;
        color: rgb(63, 62, 62);
    }
    
    .l{
        list-style-type: none;
        margin: 10%;
    }

    footer{
        margin-left: 25%;
        margin-bottom: 1%;
    }

    
}
@media screen and (min-width:601px ) and (max-width:919px) {
    .title{
        display: flex;
    }
    
    .search-items {
        display: flex;
        align-items: center;
    }
    .search-item{
        display: inline;
    }
    
    .-title {
        display: flex;
        justify-content: center;
        align-self: center;
        text-align: center;
        font-size: 100%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        flex-grow: 1;
        letter-spacing: 5px;
    }
    .side-title {
        display: flex;
        justify-content: center;
        align-self: center;
        font-size: 14px;
        font-weight: 100;
        flex-grow: 3;
        font-family: Arial, sans-serif;
        letter-spacing: 1px;
    }
    
    .search-items {
        flex-grow: 3;
        display: flex;
        justify-content: center;
    }
    .search-item {
        margin-left: 5%;
    }
    .search-item a {
        text-decoration: none;
        color: black;
        font-size: 13px;
    }
    .search-item a:hover {
        color: #AAA492;
    }
    #about{
        align-items: center;
        font-family:  'Arial Narrow', Arial, sans-serif;
    }

    #div{
        margin-right: 8%;
        margin-bottom: 10%;
    }

    .profile-name{
        display: flex;
        align-items: center;
        font-family:  'Arial Narrow', Arial, sans-serif;
        list-style-type: none;
        border-radius: 2rem;
        border-style:solid;
        border-color: #bbbab8;
        box-shadow: rgba(0, 0, 0, 0.24) 20px 25px 10px;
        /*background-color: rgb(63, 62, 62);*/
        margin-left: 10%;
        margin-top: 3%
    }
    
    .name{
        width: 30vw;
        margin-left: 5%;
    }
    
    .profile{
        border-radius: 3rem ;
        width: 20vh;
        height: 20vh;
        margin-left: 10%;
    }

    #top-projects {
        border-radius: 2rem;
        list-style-type: none;
        border-style: solid;
        border-color: rgb(63, 62, 62);
        background-color: rgb(63, 62, 62);
        box-shadow: rgba(0, 0, 0, 0.24) 20px 25px 10px;
        font-size: 20px;
        height: 60vh;
        width: 54vw;
        padding: 10px;
        overflow: auto;
        margin-left: 20%;
        margin-bottom: 5%;
      }
      
      #top-projects li {
        border-radius: 2rem;
        margin-left: 2%;
        margin-top: 5%;
        border-style: solid;
        border-color: #64625d;
        background-color:rgb(104, 104, 104);
      }

      #top-projects li a{
        margin-left: 3%;
        color: #fff;
      }
      
      .project {
        background-color: #fff;
        padding: 10px;
        border-radius: 5px;
      }
      
      .project-name {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
      }
      
      .project-details {
        display: flex;
        align-items: center;
        font-size: 14px;
      }
      
      .star-icon {
        margin-left: 3%;
        margin-right: 5px;
        color: #FFD700;
      }
      
      .fork-icon {
        margin-right: 5px;
        color: #A9A9A9;
      }
      
      .languages {
        margin-top: 5px;
      }
      
      .language {
        display: inline-block;
        background-color: #64625d;
        color: #fff;
        padding: 2px 5px;
        border-radius: 3px;
        margin-right: 5px;
      }
      

    #about-p{
        border-radius: 2rem;
        border-style:solid;
        border-color: rgb(63, 62, 62);
        width: 57vw;
        margin-left: 20%;
        font-size: 20px;
        background-color: rgb(63, 62, 62);
        box-shadow: rgba(0, 0, 0, 0.24) 20px 25px 10px;
        margin-bottom: 5%;
    }

    #p{
        margin: 7%;
        font-family: 'Arial Narrow', Arial, sans-serif;
        line-height: 150%;
    }
    
    #p-div{
        border-radius: 2rem;
        border-style: solid;
        border-color: #64625d;
        background-color:rgb(104, 104, 104);
        margin: 2%;
    }

    .flex-container{
        width: 10vw;
    }
    
    #u{
        display: flex;
        align-items: center;
        margin-left: 33%;
        margin-top: 8%;
    }
    .h{
        font-size: 300%;
        transition: 0.5s;
        color: rgb(63, 62, 62);
    }
    
    .l{
        list-style-type: none;
        margin: 10%;
    }

    footer{
        margin-left: 35%;
        margin-bottom: 1%;
    }
    
}

